<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="autokit">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.038031 0.0016881 -0.0020016"
        rpy="0 0 0" />
      <mass
        value="0.22345" />
      <inertia
        ixx="0.0023212"
        ixy="-2.1163E-19"
        ixz="-2.2447E-10"
        iyy="0.001413"
        iyz="2.9796E-21"
        izz="0.0037336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autokit/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autokit/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="box_Link">
    <inertial>
      <origin
        xyz="0.0052382 0.0061354 0.26841"
        rpy="0 0 0" />
      <mass
        value="5.464" />
      <inertia
        ixx="0.038343"
        ixy="0.00011246"
        ixz="0.0086934"
        iyy="0.049652"
        iyz="-8.1245E-05"
        izz="0.049073" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autokit/meshes/box_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autokit/meshes/box_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="box_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="box_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>