<?xml version="1.0"?>

<robot name="limo_s2" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find limo_s2_description)/urdf/limo_s2.xacro" />
    <xacro:include filename="$(find limo_s2_arm)/urdf/limo_s2_arm.urdf" />

    <!-- <link name="limo_with_arm"/> -->
  <joint name="limo_with_arm" type="fixed">
    <parent link="base_link"/>
    <child link="arm_base"/>
    <origin xyz="0.12 0.0 -0.075" rpy="0 0 0"/>
  </joint>

  </robot>