<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">

  <!-- Base Properties -->
  <xacro:property name="base_x_size" value="1.66000" />
  <xacro:property name="base_y_size" value="0.60000" />
  <xacro:property name="base_z_size" value="0.66000" />

  <xacro:property name="wheelbase" value="1.9" />
  <xacro:property name="track" value="1.1" />

  <xacro:macro name="chassis">

    <!-- Base link is the center of the robot's bottom plate -->
    <link name="base_link">
      <visual>
        <geometry>
          <box size="${base_x_size} ${base_y_size} ${base_z_size}" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="${base_x_size} ${base_y_size} ${base_z_size}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
