<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" default="true"/>

  </include>
  <!-- <include file="$(find hunter_se_control)/launch/hunter_se_contol.launch" ns="/"/> -->

  <include file="$(find hunter_se_control)/launch/hunter_se_v_contol.launch" />
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find hunter_se_gazebo)/xacro/hunter_se_base.xacro'" /> -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find hunter_se_description)/urdf/hunter_se_description.urdf'" />
  <!-- <param name="robot_description" command="cat $(find hunter_se_base)/urdf/hunter_se_base.urdf"/> -->
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="hunter_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model hunter_se -z 1.5"
    respawn="false" />

  </launch>

