<launch>
 
	 <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_base)/urdf/hunter2_base.xacro'" /> -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_base)/urdf/hunter2_base_gazebo.urdf'" /> -->
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <!-- <param name="robot_description" command="$(find fourth_robot_description)/robots/ranger_mini_base.xacro"/> -->
   <param name="robot_description" command="$(find xacro)/xacro '$(find ranger_mini)/urdf/ranger_mini.xacro'" />
    <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ranger_mini)/launch/ranger.rviz" required="true" />

 
</launch>
