<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find hunter2_gazebo)/world/house.world"/> 
        <arg name="gui" default="true"/>

  </include>
  <!-- <include file="$(find hunter2_control)/launch/hunter2_contol.launch" ns="/"/> -->

  <include file="$(find hunter2_control)/launch/hunter2_v_contol.launch" />
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_gazebo)/xacro/hunter2_base.xacro'" /> -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_base)/urdf/hunter2_base_gazebo.xacro'" />
  <!-- <param name="robot_description" command="cat $(find hunter2_base)/urdf/hunter2_base.urdf"/> -->
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="hunter_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model hunter2_base -z 0.05"
    respawn="false" />

  </launch>

