<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find ranger_mini_v2)/urdf/ranger_mini.xacro" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find ranger_mini_v2)/rviz/display.rviz" />
</launch>